/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@media (prefers-color-scheme: light) {
	:root {
		--accent: rgb(44 156 197);
		--black: 15, 18, 25;
		--gray: 96, 115, 159;
		--gray-light: 164, 175, 188;
		--gray-dark: 51, 65, 85;
		--background: rgba(253, 249, 238, 255);
		--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
			0 16px 32px rgba(var(--gray), 33%);
		--icon: brightness(0) saturate(100%) invert(52%) sepia(45%) saturate(808%) hue-rotate(150deg) brightness(94%) contrast(78%);
		--icon-hover: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(11deg) brightness(99%) contrast(102%);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent: rgb(44 156 197);
		--black: 255, 255, 255;
		--gray: 96, 115, 159;
		--gray-light: 164, 175, 188;
		--gray-dark: 255, 255, 255;
		--background: rgb(42, 44, 53);
		--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
			0 16px 32px rgba(var(--gray), 33%);
		--icon: brightness(0) saturate(100%) invert(52%) sepia(45%) saturate(808%) hue-rotate(150deg) brightness(94%) contrast(78%);
		--icon-hover: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(11deg) brightness(99%) contrast(102%);
	}
}

@font-face {
	font-family: 'Dosis Regular';
	src: url('/fonts/dosis.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

::-webkit-scrollbar {
	height: 8px;
	width: 10px;
}

::-webkit-scrollbar-track {
	background: rgb(var(--gray-light));
}

::-webkit-scrollbar-thumb {
	background: var(--accent);
}

body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--background);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.4;
}

main {
	margin: auto;
	padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.125;
	text-decoration: none;
}

h1 {
	font-size: 2.75em;
}

h2 {
	font-size: 2.125em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1em;
}

h3, h5 {
	color: var(--accent);
}

strong,
b {
	font-weight: 700;
	color: var(--emphasis);
}

a {
	color: var(--accent);
	text-decoration: none;
}

a:hover {
	color: var(--accent);
	text-decoration: underline;
}

.date {
	color: var(--accent);
}

.title {
	line-height: 1.23;
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	padding: 2px 5px;
	color: #fff;
	background-color: #000;
	border-radius: 0.3em;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

pre.astro-code {
	margin-bottom: 2em;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
}

blockquote>p>strong:first-of-type {
	color: var(--accent);
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

.red {
	color: var(--accent);
}

#sections+ol {
	margin-bottom: 2em;
}

ol > li > a, 
ol > li > a:active, 
ol > li > a:visited, 
ul > li > a,
ul > li > a:active,
ul > li > a:visited {
	color: var(--black);
}

li::marker {
	color: var(--accent);
}

@media (min-width: 721px) {
	main {
		width: 720px;
	}
}

@media (max-width: 720px) {
	::-webkit-scrollbar {
		height: 0px;
		width: 0px;
	}

	body {
		font-size: 18px;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}